<div class="container">
  <small *ngIf="errorMessage">{{ errorMessage }}</small>
  <div *ngIf="quizBody">
    <h1 class="alignCenter">{{ quizBody.quiz_Name }}</h1>

    <div
      *ngFor="let item of quizBody.quiz_Questions; index as i"
    >
      <mat-card class="mat-elevation-z8 colorGrey">
        <mat-card-title
          >Question {{ i + 1 }} - {{ item.question }}</mat-card-title
        >
        <mat-card-content>
          <div class="answerBank">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="{{ item.quiz_Answers.answer_1 }}">{{
                item.quiz_Answers.answer_1
              }}</mat-radio-button
              ><br />
              <mat-radio-button value="{{ item.quiz_Answers.answer_2 }}">{{
                item.quiz_Answers.answer_2
              }}</mat-radio-button
              ><br />
              <mat-radio-button value="{{ item.quiz_Answers.answer_3 }}">{{
                item.quiz_Answers.answer_3
              }}</mat-radio-button
              ><br />
              <mat-radio-button value="{{ item.quiz_Answers.answer_4 }}">{{
                item.quiz_Answers.answer_4
              }}</mat-radio-button
              ><br />
            </mat-radio-group>
            <!-- <div *ngFor="let option of item.quiz_Answers">
      </div> -->
          </div>
        </mat-card-content>
      </mat-card>
      <br /><br />
      <button
        mat-raised-button
        color="primary"
        routerLink="/presentation/{{ quizSelection }}"
      >
        Return to Presentation
      </button>
    </div>
  </div>
</div>
