<!--
============================================
; Title: NodeQuiz, LLC.
; Author: Jason Sullenger
; Date: 25 September 2019
; Description: Presentation and quiz site - MEAN stack
;=========================================== -->

<h4>Summary Page</h4>

<!-- <div *ngFor="let item of quizResults; index as i">
      <p>Employee Id: {{ item.employeeId }}</p>
      <p>Quiz Id: {{ item.quizId }}</p>
      <div *ngFor="let option of item.result; index as i">
        <p>Score: {{ option.userData[0].score }}</p>
        <p>Date: {{ option.userData.date  }}</p>
      </div>
      <hr />
  </div> -->
