/*
============================================
; Title: NodeQuiz, LLC.
; Author: Jason Sullenger
; Date: 25 September 2019
; Description: Presentation and quiz site - MEAN stack
;===========================================
*/

.container {
  margin: 15px auto;
  width: 55%;
}

.alignCenter {
  text-align: center;
}

.slideDiv {
  margin: 0 auto;
  width: 85%;
}

img {
  width: 100%;
}


